<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KonsultacjePlusV6"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EditPytanieActivity"
            android:exported="false" />
        <activity
            android:name=".EditKonsultacjaActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilProwadzacyActivity"
            android:exported="false" />
        <activity
            android:name=".SignOutFromKonsultacjeStudentActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpKonsultacjaActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddKonsultacjaActivity"
            android:exported="false" />
        <activity
            android:name=".KonsultacjeProwadzacyActivity"
            android:exported="false" />
        <activity
            android:name=".KonsultacjeStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilProwadzacyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilStudentActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KonsultacjeActivity"
            android:exported="false" />
        <activity
            android:name=".ProwadzacyListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PrzedmiotyListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>