<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<title>Konsultacje+</title>
<link rel="stylesheet" href="/css/homev2.css">
<script src="https://kit.fontawesome.com/c18a46dce4.js"
	crossorigin="anonymous"></script>
</head>

<body>

	<!--  Page header -->
	<div class="header">
		<div class="side-nav">
			<a href="#" class="logo"> <img alt="" src="../images/logo.png"
				class="logo-img"> <img alt="" src="../images/logo-ikona.png"
				class="logo-icon">
			</a>

			<ul class="nav-links">
				<li><a href="/"><i class="fa-solid fa-user"></i>
						<p>Profil</p></a></li>
				<li><a href="/konsultacje"><i
						class="fa-solid fa-person-chalkboard"></i>
						<p>Konsultacje</p></a></li>
				<li><a href="/fora"><i class="fa-solid fa-comments"></i>
						<p>Fora</p></a></li>
				<li><a href="/przedmioty"><i class="fa-solid fa-book"></i>
						<p>Przedmioty</p></a></li>
				<li><a href="/prowadzacy"><i class="fa-solid fa-user-tie"></i>
						<p>Wykładowcy</p></a></li>
				<li><a href="/logout"><i
						class="fa-solid fa-right-from-bracket"></i>
						<p>Wyloguj się</p></a></li>
				<div class="active"></div>

			</ul>
		</div>
	</div>
	<div class="container">

		<form th:action="@{/searchProwadzacy}" method="get">
			<div class="search-container">
				<input type="text" name="keyword" placeholder="Szukaj po imieniu i nazwisku">
				<button type="submit"></button>
			</div>
		</form>

		<!-- Table -->
		<table class="styled-table">

			<!-- Table header -->
			<thead>
				<tr>
					<th>Zdjęcie</th>
					<th>Prowadzący</th>
					<th>Nr telefonu</th>
					<th>Email</th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="Prowadzacy : ${listProwadzacy}">
					<td><img th:if="${Prowadzacy.Zdjecie != null}"
						th:src="${'data:image/jpeg;base64,' + Prowadzacy.Zdjecie64}"
						alt="Zdjęcie Prowadzącego" class="default-image-list" /> <img
						th:unless="${Prowadzacy.Zdjecie != null}"
						th:src="${Prowadzacy.Plec == 'K'} ? '../images/default_woman.png' : '../images/default_man.png'"
						alt="Profile Image" class="default-image-list" /></td>
					<td><span> <span
							th:text="${#strings.replace(Prowadzacy.getFullTytul(), ' ', '&nbsp;')}">Tytul</span><br>
							<span th:text="${Prowadzacy.Imie}">Imię</span><br> <span
							th:text="${Prowadzacy.Nazwisko}">Nazwisko</span>
					</span></td>
					<td th:text="${Prowadzacy.Nr_telefonu}">Płeć</td>
					<td th:text="${Prowadzacy.Email}">Email</td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>