<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<title>Konsultacje+</title>
<link rel="stylesheet" href="/css/homev2.css">
<script src="https://kit.fontawesome.com/c18a46dce4.js"
	crossorigin="anonymous"></script>
</head>

<body>

	<!--  Page header -->
	<div class="header">
		<div class="side-nav">
			<a href="#" class="logo"> <img alt="" src="../images/logo.png"
				class="logo-img"> <img alt="" src="../images/logo-ikona.png"
				class="logo-icon">
			</a>

			<ul class="nav-links">
				<li><a href="/"><i class="fa-solid fa-user"></i>
						<p>Profil</p></a></li>
				<li><a href="/konsultacje"><i
						class="fa-solid fa-person-chalkboard"></i>
						<p>Konsultacje</p></a></li>
				<li><a href="/fora"><i class="fa-solid fa-comments"></i>
						<p>Fora</p></a></li>
				<li><a href="/przedmioty"><i class="fa-solid fa-book"></i>
						<p>Przedmioty</p></a></li>
				<li><a href="/prowadzacy"><i class="fa-solid fa-user-tie"></i>
						<p>Wykładowcy</p></a></li>
				<li><a href="/logout"><i
						class="fa-solid fa-right-from-bracket"></i>
						<p>Wyloguj się</p></a></li>
				<div class="active"></div>

			</ul>
		</div>
	</div>
	<div class="container">
		<div class="profile-title">
			<h2>Twój profil</h2>
		</div>

		<img th:if="${studentImage != null}"
			th:src="@{'data:image/png;base64,' + ${studentImage}}"
			alt="Profile Image from database" class="profile_image" /> <img
			th:unless="${student.zdjecie != null}" th:if="${student.Plec == 'K'}"
			src="../images/default_woman.png" alt="Profile Image"
			class="profile_image" /> <img th:unless="${student.zdjecie != null}"
			th:if="${student.Plec == 'M'}" src="../images/default_man.png"
			alt="Profile Image" class="profile_image" />

		<!-- Table -->
		<table class="styled-table">

			<!-- Table header -->
			<thead>

				<tr>
					<th>Nr indeksu</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Email</th>
					<th>Nr telefonu</th>
				</tr>

			</thead>

			<!-- Table body -->
			<tbody>
				<tr>
					<td th:text="${student.Nr_indeksu}">Nr indeksu</td>
					<td th:text="${student.Imie}">Imię</td>
					<td th:text="${student.Nazwisko}">Nazwisko</td>
					<td th:text="${student.Email}">Email</td>
					<td th:text="${student.Nr_telefonu}">Nr telefonu</td>
				</tr>
				<tr>
					<td colspan="5" style="text-align: center; height: 100px;"><a
						th:href="@{'/editStudent/' + ${student.Email}}" class="edit-btn">Edytuj</a></td>
				</tr>
			</tbody>

		</table>
	</div>

	<div class="white-label">
		<h2>Powiadomienia:</h2>
	</div>

	<div class="notification-container">
		<div th:each="studentKonsultacja : ${studentNotifications}"
			class="notification" th:if="${studentKonsultacja.Edycja != null}">
			<div class="notification-content">
				<form th:action="@{/deleteNotification}" method="post">
					<input type="hidden" name="nrKonsultacji"
						th:value="${studentKonsultacja.Nr_konsultacji}" />
					<button type="submit" class="read-btn">
						<i class="fa-sharp fa-solid fa-xmark"></i>
					</button>
				</form>
				<span
					th:utext="${studentKonsultacja.Edycja.replaceAll('\n', '<br>')}"></span>
			</div>
		</div>
	</div>
</body>

</html>